@import url("palette.css");

/* 
    Body
    Footer
    Forms, Modals, Buttons
    html (load last to stop FOUC)
*/

/*
 :root and palette variables imported from palette.css
*/

body {
  font-family: arial;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: 100vh;
  margin: 0;
  background-color: var(--background);
}

header {
  display: flex;
  flex-shrink: 0;
  position: relative;
  top: 0;
}

.title {
  margin: 0 auto;
  white-space: nowrap;
}

.title-platform {
  border-radius: 3em;
  margin: 4em auto;
  padding: 1em 2em;
  max-width: min-content;
  min-width: min-content;
  box-shadow: var(--landing-box-shadow);
}

h1,
h2,
label {
  font-weight: bold;
  color: var(--colour-text);
}

label {
  margin: 0.25em;
  font-size: 1.75rem;
}

.download-btn {
  border-radius: 1.75em;
  padding: 0.6em 0.8em;
  margin: 2em auto;
  width: 50%;
  max-width: fit-content;
  cursor: pointer;
  font-size: 1em;
  border: 1px solid var(--border-btn);
  background: #f9f9f9;
  min-width: fit-content;
  color: var(--colour-text);
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
  transition: all ease 0.3s;
}

.download-btn:hover,
.download-btn:focus {
  transition: all ease 0.3s;
  box-shadow: var(--landing-box-shadow);
  outline: none;
}

.download-btn:active {
  box-shadow: inset var(--landing-box-shadow);
}

/* Body */
.content {
  display: flex;
  flex: 1 0 auto;
}

.hide-loading {
  display: none;
}

.page-content {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

.article-section {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
}

.article-row:hover,
.article-row:focus-within {
  border-radius: 1em;
  background-color: var(--foreground);
  box-shadow: 0px 5px 5px #00000040;
  border: 1px #f0f0f0 solid;
  text-decoration: underline;
}

.article-row {
  display: flex;
  flex-direction: column;
  border-top: 1px transparent solid;
  border-left: 1px transparent solid;
  border-right: 1px transparent solid;
  border-bottom: 1px #d5d5d5 solid;
  border-radius: 1em;
  padding: 0 0.5em;
  margin: 0.15em 0;
  font-size: 1.15rem;
  transition: box-shadow 500ms;
}

.article-title {
  color: var(--colour-text);
  text-decoration: none;
  padding: 0.5em;
}

.blur {
  filter: blur(5px);
  animation: grow-blur 1s ease-in-out infinite;
}

.loading-article {
  color: var(--colour-text);
  text-decoration: none;
  padding: 0.5em;
}

/* Footer */
.footer-content {
  flex-shrink: 0;
  position: relative;
  display: flex;
  bottom: 0;
  flex-direction: row;
  border-top: 1px solid #e1e1e1;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  color: #6c6c6c;
}
.footer-content .copyright {
  margin: auto 0;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: #6c6c6c;
}
.footer-content .copyright .logo {
  display: block;
  background-image: url("../assets/aux-logo-centered.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 0 0 2px;
  width: 20px;
  height: 20px;
}

.footer-content .contact {
  margin-right: auto;
  display: flex;
  cursor: pointer;
  border-bottom: 2px solid #e1e1e1;
  border-radius: 0 0 20px 20px;
  width: 100px;
  padding: 0 0 5px 5px;
}

.footer-links {
  display: flex;
  margin: 0 auto;
}

.footer-content .github-link {
  display: flex;
}
.footer-content .github-link .octicon {
  height: 35px;
  width: 35px;
  margin: auto 10px auto auto;
  fill: #6c6c6c;
}
.footer-content .footer-contact-btn {
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  color: #6c6c6c;
}

.footer-contact-btn i {
  color: inherit;
  margin: 0;
}

.footer-acknowledgement {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  font-size: 0.8rem;
  color: var(--border-btn);
}

html {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease;
}
/*# sourceMappingURL=styles.css.map */
